{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
{% load core_tags %}

<div class="container py-5 mx-auto" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-2">
            <h2 class="pb-5">Filters</h2>
            <form method="GET" action="{% url 'home' %}">
                {{ filter_form | crispy }}
                <input class="mt-3 btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 pb-5">
                    <div class="d-flex">
                        <select class="form-control">
                            <option value="featured">Featured</option>
                            <option value="atoz">A to Z</option>
                            <option value="zota">Z to A</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in object_list %}
                <div class="col-md-4" id="{{ post.slug }}">
                    <div class="card mb-4 product-wap rounded-1">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-thumbnail" src="{{ post.image.url }}" alt="">
                        </div>
                        <div class="card-body d-flex">
                            <!-- TODO: Add url to post -->
                            <a href="{% url 'post-detail' post.slug %}" class="h3 text-decoration-none me-auto">{{ post.title }}</a>
                            <form action="{% url 'post-like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if post.slug in user_likes %}
                                <button type="submit" class="btn btn-danger justify-content-end">
                                    <i class="fa fa-thumbs-down "></i>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-primary justify-content-end">
                                    <i class="fa fa-thumbs-up "></i>
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="row">
                <ul class="pagination pagination-lf justify-content-end">
                    {% for page in page_obj.paginator %}
                    {% if page.number == page_obj.number %}
                    <li class="page-item disabled">
                        <a
                                class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                href="?page={{ page.number }}"
                                tabindex="-1">{{ page.number }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a
                                class="page-link intive rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                href="?page={{ page.number }}"
                                tabindex="-1">{{ page.number }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}