{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

{% load crispy_forms_tags %}
{% load core_tags %}

<div class="container py-5 mx-auto" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-lg-2">
            <h2 class="pb-5">Filters</h2>
            <form method="GET" action="{% url 'home' %}">
                {{ filter_form | crispy }}
                <input class="mt-3 btn btn-primary" type="submit" value="Search">
            </form>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 pb-5">
                    <div class="d-flex">
                        <form method="GET" action="{% url 'home' %}">
                            <select class="form-control" name="ordering">
                                <!--
                                <option value="featured">Featured</option>
                                -->
                                <option value="asc">A to Z</option>
                                <option value="desc">Z to A</option>
                            </select>
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in object_list %}
                <div class="col-md-4" id="{{ post.slug }}">
                    <div class="card mb-4 product-wap rounded-1">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-thumbnail" src="{{ post.image.url }}" alt="">
                        </div>
                        <div class="card-body d-flex">
                            <!-- TODO: Add url to post -->
                            <a href="{% url 'post-detail' post.slug %}" class="h3 text-decoration-none me-auto">{{ post.title }}</a>
                            <form action="{% url 'post-like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if post.slug in user_likes %}
                                <button type="submit" class="btn btn-danger justify-content-end">
                                    <i class="fa fa-thumbs-down "></i>
                                </button>
                                {% else %}
                                <button type="submit" class="btn btn-primary justify-content-end">
                                    <i class="fa fa-thumbs-up "></i>
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="row">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                           href="?{{ paginator.first_page_params }}">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                           href="?{{ page_obj.previous_page_params }}">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                           href="?{{ page_obj.next_page_params }}"
                           rel="next">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                           href="?{{ paginator.last_page_params }}">Last &raquo;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}