{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="col-lg-12">
        <div class="row mb-5">
            <h1 class="display-1">{{ post.title }}</h1>
            <h2 class="display-6"><i class="fa fa-user me-2"></i>{{ post.author.username }}</h2>
        </div>
        <div class="row mb-5">
            <a href="{{ post.image.url }}">
                <img src="{{ post.image.url }}"
                     alt="{{ post.title }}"
                     style="height: 40vh !important; width: 40vh !important; object-fit: cover !important;"
                     class="img-thumbnail"
                >
            </a>
        </div>
        <div class="row">
            <h4 class="mb-3">
                {{ post.description }}
            </h4>
        </div>
    </div>

    {% if request.user == post.author %}
    <div class="col-lg-4 mb-5">
        <button class="btn btn-danger">
            <a href="{% url 'post-delete' slug=post.slug %}" class="text-black text-decoration-none">Delete post</a>
        </button>
    </div>
    {% endif %}

    <div class="comment-section" id="comment-section">
        <div class="d-flex">
            <h6 class="display-6 me-auto">Comments</h6>
            <div class="align-items-end">
                {% if request.user.is_authenticated %}
                <button class="btn btn-success mb-5">
                    <a href="{% url 'add-comment' slug=post.slug %}" class="text-decoration-none text-black">Add comment</a>
                </button>
                {% else %}
                <h2 class="h2">
                    You must be <a href="{% url 'account_login' %}">logged in</a> to leave a comment.
                </h2>
                {% endif %}
            </div>
        </div>
        {% if comments|length == 0 %}
        <h6 class="display-6">There are no comments at the time!</h6>
        {% endif %}

        <div class="col-lg-12">
            {% for comment in comments %}
            <div class="container card-body">
                <div class="row">
                    <div class="d-flex">
                        <div class="col-1" id="avatars">
                            {% if comment.user.avatar.url != None %}
                            <img class="img-thumbnail rounded-circle me-3" src="{{ comment.user.avatar.url }}"
                                 style="height: 10vh !important; width: 10vh !important; object-fit: cover !important;"
                                 alt="{{ comment.user.username }}"
                                 title="{{ comment.user.username }}"
                            >
                            {% else %}
                            <img class="img-thumbnail rounded-circle me-3" src="{% static 'users/404.jpg' %}"
                                 style="height: 10vh !important; width: 10vh !important; object-fit: cover !important;"
                                 alt="{{ comment.user.username }}"
                                 title="{{ comment.user.username }}"
                            >
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <div class="row">
                                <h6 class="display-6">{{ comment.user.username }}</h6>
                                <a href="{% url 'comment-update' comment.slug %}"><i class="fa fa-pencil-square-o"></i></a>
                            </div>
                            <p class="me-auto">{{ comment.text }}</p>
                        </div>
                        {% if comment.user == request.user %}
                        <div class="col-1">
                            <a class="text-decoration-none text-black text-end" href="{% url 'delete-comment' pk=comment.pk %}">
                                <h5>x</h5>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}