{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="container mb-4">
    <div class="row mb-3">
      <h1 class="display-1 mb-3">{{ post.title }}</h1>
      <h4 class="text-primary"><i class="fa fa-user me-2"></i>{{ post.author.username }}</h4>
    </div>
    <hr />
    <div class="row mb-3">
      <a href="{{ post.image.url }}"><img alt="{{ post.title }}" class="rounded mx-auto d-block" src="{{ post.image_thumbnail.url }}" style="" /></a>
    </div>
    <div class="row-md-auto display-inline">
      <p class="ms-1 font-weight-light text-muted">Click on the image to see it in original resolution</p>
    </div>
    <hr />
    <div class="row">
      <h3 class="text-primary">Description:</h3>
      <h6 class="mb-3 text-weight-light">{{ post.description }}</h6>
    </div>
    <hr />
    <div class="row justify-content-between">
      {% if request.user == post.author %}
        <div class="col-md-auto">
          <button class="btn btn-primary"><a class="text-light text-decoration-none" href="{% url 'post-update' slug=post.slug %}"><i class="fa fa-pencil me-1"></i>Update post</a></button>
        </div>
        <div class="col-md-auto">
          {% if post.state != 'on_deletion' %}
            <button class="btn btn-danger float-end"><a class="text-light text-decoration-none" href="{% url 'post-delete' slug=post.slug %}"><i class="fa fa-trash me-1"></i>Delete post</a></button>
          {% else %}
            <form action="{% url 'post-recover' post.slug %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button class="btn btn-success" type="submit"><a class="text-black text-decoration-none">Recover post</a></button>
            </form>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  {% include 'core/comment_section.html' %}
{% endblock %}
