{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post.title }}
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="col-lg-12">
        <div class="row mb-5">
            <h1 class="h1">{{ post.title }}</h1>
            <h2 class="h2">{{ post.author }}</h2>
        </div>
        <div class="row mb-5">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        </div>
        <div class="row">
            <p class="p">
                {{ post.description }}
            </p>
        </div>
    </div>

    {% if request.user == post.author %}
    <div class="col-lg-4 mb-5">
        <button class="btn btn-danger">
            <a href="{% url 'post-delete' slug=post.slug %}" class="text-black text-decoration-none">Delete post</a>
        </button>
    </div>
    {% endif %}

    <!-- TODO: Change to redirect to login page -->
    {% if request.user.is_authenticated %}
    <button class="btn btn-success mb-5">
        <a href="{% url 'add-comment' slug=post.slug %}" class="text-decoration-none text-black">Add comment</a>
    </button>
    {% endif %}

    {% if comments|length == 0 %}
    <h2>There are no comments at the time!</h2>
    {% endif %}

    <div class="col-lg-12">
        {% for comment in comments %}
        {% if comment.user.avatar.url != None %}
        <img src="{{ comment.user.avatar.url }}" alt="">
        {% else %}
        <img src="{% static 'users/404.jpg' %}" alt="">
        {% endif %}
        <h2>{{ comment.user }}</h2>
        <p>{{ comment.text }}</p>
        {% endfor %}
    </div>
</div>

{% endblock content %}