{% extends 'base.html' %}

{% load static %}

{% block title %}Add post{% endblock %}

{% block custom_scripts %}
<script src="{% static "core/js/image_size_limiter.js" %}"></script>
{% endblock custom_scripts %}

{% block content %}

<div class="row">
    <div class="d-flex mt-5 justify-content-center">
        <div class="form-group">
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}