<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
    <script src="{% static 'bootstrap5/js/bootstrap.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.7.1.js' %}"></script>
    {% block custom_scripts %}

    {% endblock %}
    <title>
      {% block title %}
        Photo contest
      {% endblock %}
    </title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'header.html' %}

    {% include 'messages.html' %}

    {% block content %}

    {% endblock %}

    {% include 'footer.html' %}
  </body>
</html>
