<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'users:your-posts' %}">Your posts</a></li>
                <li class="breadcrumb-item"><a href="{% url 'users:profile' pk=user.pk%}">Your profile</a></li>
            </ol>
        </nav>
    </div>
</div>